[submodule "vim/vim/pack/plugins/start/editorconfig-vim"]
	path = vim/vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/vim/pack/plugins/start/emmet-vim"]
	path = vim/vim/pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/vim/pack/plugins/start/gruvbox"]
	path = vim/vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/vim/pack/plugins/start/pdv"]
	path = vim/vim/pack/plugins/start/pdv
	url = https://github.com/tobyS/pdv.git
[submodule "vim/vim/pack/plugins/start/tmuxline.vim"]
	path = vim/vim/pack/plugins/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/vim/pack/plugins/start/ultisnips"]
	path = vim/vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/vim/pack/plugins/start/vim-airline"]
	path = vim/vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim/pack/plugins/start/vim-fugitive"]
	path = vim/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/pack/plugins/start/vim-snippets"]
	path = vim/vim/pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/vim/pack/plugins/start/vmustache"]
	path = vim/vim/pack/plugins/start/vmustache
	url = https://github.com/tobyS/vmustache.git
[submodule "vim/vim/pack/plugins/start/vim-signify"]
	path = vim/vim/pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/vim/pack/plugins/start/ale"]
	path = vim/vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/vim/pack/plugins/start/vim-polyglot"]
	path = vim/vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/vim/pack/plugins/start/fzf"]
	path = vim/vim/pack/plugins/start/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "vim/vim/pack/plugins/start/fzf.vim"]
	path = vim/vim/pack/plugins/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
